body {
    height: 117vh;
    height: calc(var(--vh, 1vh) * 117);
    width: 100vw;
    background-image: url("images/startGameNew.png");
    background-size: 120vw 100vh;
    background-size: 120vw calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;
    overflow: hidden;
}

#startBtn {
    position: absolute;
    height: 15vh;
    height: calc(var(--vh, 1vh) * 15);
    width: 30vw;
    left: 2vw;
    top: 84vh;
    top: calc(var(--vh, 1vh) * 84);
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 440px) {
    body,
    html {
        margin: 0px;
        padding: 0px;
    }
}